/*common*/
b, strong {font-weight: normal; font-family: "Whitney Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;}
em {font-style: normal!important; font-family: "Whitney Medium Italic", "Helvetica Neue", Helvetica, Arial, sans-serif!important;}
hr {height: 0; -moz-box-sizing: content-box; box-sizing: content-box; margin-top: 20px; margin-bottom: 20px; border: 0; border-top: #845A4D solid 1px;}
.btn-default, .btn-default-wisywig, .btn-green, .btn-red, .btn-white, .btn-gray, .ad_zip_selector #submit:disabled, .btn-plus, .btn-nav, .btn-link, .btn-fixed-nav {font-weight: normal;}
div.btn-default-wisywig {padding: 0;}
div.btn-default-wisywig a {position: relative; z-index: 2; display: block; padding: 5px 10px;}

.radio-box {position: relative; top: 8px; display: inline-block; width: 29px; height: 29px; margin-right: 3px;}
.radio-box input[type="radio"], .radio-box .radio-box--style {position: absolute; width: 100%; height: 100%;}
.radio-box input[type="radio"] {opacity: 0; z-index: 2; margin: 0!important;}
.radio-box .radio-box--style {border: #A6A6A6 solid 2px; background: #FFF; border-radius: 100%;}
.radio-box .radio-box--style::before {content: ""; position: absolute; top: 4px; right: 4px; bottom: 4px; left: 4px; border-radius: 100%; background: #00A651; display: none;}
.radio-box input[type="radio"]:checked + span.radio-box--style::before {display: block;}

/*header-nav*/
.main-nav--login .cream-bg {float: right; padding: 32px 18px 44px 0;}

.login--text {position: absolute; left: 44px; top: 39px; font-family: "Whitney Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #B71234; line-height: 1em; white-space: normal;width: 100%; display: none;}

.icon.login, .icon.logout, .icon.wine, .icon.deal, .store-locator-btn::before, .logout-btn::after, 
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat.yellow + label::after, 
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat.red + label::after, 
.see-my-store.btn-default::after, 
.store-locator--copy__wrapper > li .result__button--toggle.collapsed .icon::after, 
.result__copy .primary-store::before, .home-store::before, 
.go_sign-up-for-emails #close-sign-up-success-btn {background-image: url("../img/sprites2x.png"); background-repeat: no-repeat; background-size: 75px auto;}

.icon.wine {background-position: 0 -70px; width: 11px; height: 21px;} 
.icon.deal {background-position: -16px -70px; width: 8px; height: 17px;}
.icon.login, .icon.logout {background-position: 0 0; width: 33px; height: 33px;}
a:hover .icon.login {background-position: -33px 0;}
a:hover .login--text, a:hover .logout--text {color: #E51741;}
.icon.logout {background-position: 0 -97px;}
a:hover .icon.logout {background-position: -33px -97px;}

.main-nav__view-ad--link span {font-family: 'Whitney Medium Italic'; font-size: 12px;}

.main-nav__view-ad {float: right; width: 22.6994%;} 
.main-nav--store-locator {float: left; width: 100%;}

/*sign up thank you*/
.go_sign-up-for-emails #sign-up-success-popup {position: relative; float: none; display: block; width: 100%; margin: 0!important;}
.go_sign-up-for-emails #close-sign-up-success-btn {position: absolute; top: -2px; right: 4px; font-family: "Whitney Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #FFF; font-size: 14px; text-decoration: none; text-transform: capitalize; padding: 0 44px 2px 0; background-position: 0 -225px;}
.go_sign-up-for-emails h2 {margin-bottom: 9px; margin-right: 25px;}
.go_sign-up-for-emails p {font-family: "Whitney Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; color: #B71F36; line-height: 21.48px;}

/*preference center*/
.go_pref_center h2 {font-size: 24px;}
.go_pref_center .go_pref_center__user-email {border: none; padding: 0;}
.border--bottom {border-bottom: #845A4D solid 1px;}
.go_pref_center .go_pref_center__user-email p, 
.go_pref_center .go_pref_center__user-email .global-settings p, 
.go_pref_center .go_pref_center__user-stores p {font-size: 14px;}

.go_pref_center .go_pref_center__user-info #js-edit-info {margin-top: 28px;}

.go_pref_center .go_pref_center__user-email .opt-in-button {position: relative; padding-left: 80px;}
.go_pref_center .go_pref_center__user-email .opt-in-button {margin: -20px 0 10px;}
.go_pref_center .go_pref_center__user-email .opt-in-button .option-text--out, 
.go_pref_center .go_pref_center__user-email .opt-in-button .option-text--in {position: absolute; top: 4px; font-family: "Whitney Bold","Helvetica Neue",Helvetica,Arial,sans-serif;}
.go_pref_center .go_pref_center__user-email .opt-in-button .option-text--out {left: 8px;}
.go_pref_center .go_pref_center__user-email .opt-in-button .option-text--in {left: 160px;}

.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat + label {width: 60px; height: 33px; border-radius: 58px; padding: 0; transition: background 0.4s ease 0s;}
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat.yellow + label, 
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat.red + label {background-color: #CBCCCC;}
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat + label::before, 
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat:checked + label::before {
    border-radius: 58px;
    content: "Opt in";
    color: #6C3220;
	font-family: "Whitney Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
	/*font-family: "Whitney Bold","Helvetica Neue",Helvetica,Arial,sans-serif;*/ 
	text-decoration: underline;
    font-size: 16px;
    top: 0; bottom: 0; left: auto; right: -63px;
    padding-top: 4px;
	padding-right: 1px;
    text-align: left;
    transition: background 0s ease 0s;
}
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat.yellow:checked + label::before, 
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat.red:checked + label::before {background: #F4B000 url("../img/bg_white.png") -111px 0 no-repeat;}
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat.red:checked + label::before {background-color: #B71234;}
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat:checked + label::before {content: "Opt out"; left: -72px; right: 0px;}
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat:checked + label::after {margin-left: 27px;}


.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat.yellow + label::after, 
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat.red + label::after {background-position: 0 -34px; width: 33px; height: 33px;}
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat.red + label::after {background-position: -34px -34px;}
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat + label::after {bottom: 0; content: ""; left: 0; top: 0; transition: margin 0.4s ease 0s, background 0s ease 0s;}

/*.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat + label span {position: absolute; top: 0; right: -80px; width: 80px; height: 100%; background: yellow;}
.go_pref_center .go_pref_center__user-email .opt-in-button input.btn-toggle-round-flat:checked + label span {left: -80px; right: auto; background: red;}*/

.go_pref_center .go_pref_center__user-email .wow-alerts-frequency .form-input.styled-select {font-size: 14px; color: #6C3220; font-family: "Whitney Medium Italic", "Helvetica Neue", Helvetica, Arial, sans-serif; margin-top: 12px;} 
.go_pref_center .go_pref_center__user-email .wow-alerts-frequency .form-input.styled-select:disabled {opacity: .51;}
.go_pref_center .input-box {margin-bottom: 5px;}

.go_pref_center .go_pref_center__user-email .wow-alerts-opt-in {margin-top: 40px;}
.go_pref_center .go_pref_center__user-email .wow-alerts-frequency {margin-top: 38px;}
.go_pref_center .go_pref_center__user-email .wow-alerts-frequency label, 
.go_pref_center .go_pref_center__user-email .wow-alerts-frequency .form-input.styled-select {display: block;}
.go_pref_center .go_pref_center__user-email .wow-alerts-frequency label {margin-bottom: 5px; padding-left: 80px;}
.go_pref_center .go_pref_center__user-email .wow-alerts-frequency .radio-box {margin-left: -80px;}
.go_pref_center .go_pref_center__user-email .wow-alerts-frequency p {margin-bottom: 5px;}
.go_pref_center .go_pref_center__user-email .wine-preference {margin-top: 33px; margin-bottom: 32px;}
.go_pref_center .go_pref_center__user-email .wine-preference .icon {margin: -7px 3px 0;}
.go_pref_center .go_pref_center__user-email .wine-preference .left-space {display: inline-block; min-width: 47px; text-align: center;}
.go_pref_center label {font-family: 'Whitney Medium';}
.go_pref_center .go_pref_center__user-email .wine-preference label, 
.go_pref_center .go_pref_center__user-stores h5 {font-family: "Whitney Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px;}
.go_pref_center .go_pref_center__user-stores h5  {margin-bottom: 12px;}
.go_pref_center .go_pref_center__user-stores {margin-top: 43px;}
.go_pref_center .go_pref_center__user-stores .form-input, .go_store_locator .form-input {padding-top: 3px; padding-bottom: 4px; font-family: "Whitney Medium","Helvetica Neue",Helvetica,Arial,sans-serif;  font-size: 17.51px; color: #6c3220; font-weight: normal;}
.go_pref_center .go_pref_center__user-stores .zipform-box {position: relative; padding-right: 122px;}
.go_pref_center .go_pref_center__user-stores .zipform-box .btn-default {position: absolute; top: 0; right: 0; width: 112px; min-width: 1px;}

.go_pref_center .go_pref_center__user-email .wine-preference .radio-box {margin-right: 0;}
.go_pref_center .go_pref_center__user-email .wine-preference .radio-box .radio-box--style::before {background: #B71234;}
.go_pref_center .go_store_locator .input-group {margin-bottom: 36px;}

#pref-info-edit-form {border-bottom: #845A4D solid 1px; padding-bottom: 52px;}
button.add-store, button.remove-store, button.select-home-store, button.change-store {font-family: "Whitney Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; color: #B71234; background: transparent; border: none;}
button.add-store, button.remove-store {text-transform: uppercase;}
button.remove-store {font-size: 11px; color: #666;}
button.select-home-store, button.change-store {font-family: "Whitney Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; text-decoration: underline;}
button.select-home-store:hover, button.change-store:hover {text-decoration: none;}
.btn--close {font-family: "Whitney Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; color: #B71234; text-decoration: none;}
button.change-store {width: 62px; line-height: normal;}

.wow-alerts-frequency.disabled, #go_pref_center__user-email.disabled, 
#go_pref_center__user-stores.disabled, .go_store_locator.disabled {position: relative;}
#go_pref_center__user-stores.disabled {overflow: hidden;}
.wow-alerts-frequency.disabled:after, #go_pref_center__user-email.disabled:after, 
#go_pref_center__user-stores.disabled:after, .go_store_locator.disabled:before {content: ""; position: absolute; top: 0; right: 0; bottom: -2px; left: 0; background: #FFF; opacity: .75; z-index: 100;}
.go_store_locator.disabled {clear: both;}


.go_store_locator .go_pref_center--inner, .go_pref_center--header {position: relative;}
.go_store_locator .go_pref_center--inner .go_pref_center--expand, 
.go_store_locator .go_pref_center--inner .additional-stores-error {position: absolute;}
.go_store_locator .go_pref_center--inner .go_pref_center--expand {top: 0; left: 34.04%; right: 31.91%; bottom: -1px; /*height: 100%; overflow-y: auto; overflow-x: hidden;*/ background: #FFF; border: #DDD solid 1px;}
.go_store_locator .go_pref_center--inner .additional-stores-error {top: 0; right: 0; bottom: -1px; background: #F3B000; opacity: .92; width: 31.91%; font-family: "Whitney Medium Italic", "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: center; color: #B71234; font-size: 18px; line-height: 30px; padding: 30px 28px;}

.go_pref_center--content, #go_pref_center.store-locator--copy__wrapper {position: relative; overflow-y: auto; overflow-x: hidden; height: -moz-calc(100% - 45px); height: -webkit-calc(100% - 45px); height: -ms-calc(100% - 45px); height: -o-calc(100% - 45px); height: calc(100% - 45px);}

.go_pref_center--expand > div {padding-left: 19px; padding-right: 15px;}
.go_pref_center--expand .go_pref_center--header {border: #DDD solid 2px; padding: 8px 60px 11px 23px; margin: -1px 0 0 -3px;}
.go_pref_center--expand .go_pref_center--header, .go_pref_center--header span {font-size: 14px; color: #666; font-family: "Whitney Medium Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.go_pref_center--expand .go_pref_center--header .btn--close, .additional-stores-error .btn--close {position: absolute; right: 12px;}
.additional-stores-error .btn--close {font-family: 'Whitney Medium'; top: 8px; right: 17px;}

.go_pref_center--expand .result__heading p {margin: 0;}
.go_pref_center--expand .result__heading strong {font-size: 18px;} 
.go_pref_center--expand .result__copy {border-bottom: #DDD0C6 solid 1px; padding: 15px 0;}

.store-locator--copy__wrapper > li .icon, .result__copy .remove-store, .result__copy .primary-store {position: absolute; right: 0; top: 22px;}
.result__copy {position: relative;}
.go_pref_center--inner .store-locator--copy__wrapper > li .icon, .result__copy .remove-store {margin-top: -11px; right: 2px;}
.result__copy .primary-store {font-family: "Whitney Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; color: #666; width: 60px; line-height: 12.41px;}
.result__copy .primary-store::before, .home-store::before {content: ""; float: left; width: 21px; height: 17px; background-position: -39px -73px; margin: 2px 7px 0 0;}
.home-store::before {float: none; display: inline-block; background-position: -52px -169px; margin-left: 2px; margin-right: 5px; width: 22px;}
.store-open-date {font-family: "Whitney Medium Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;}

.add-store-error {position: absolute; top: 50%; left: 25px; right: 25px; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.store-locator-form h5 {font-family: "Whitney Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; margin-bottom: 14px;}

.go_pref_center--expand, .pref-center-popup {display: none;}

.go_pref_center-login form.prefCenterLogin {position: relative; padding-right: 160px;}
.go_pref_center-login form.prefCenterLogin .error__wrapper.error-msg {margin-left: 19.68%; margin-bottom: 15px;}
.error-msg {font-size: 14px; color: #B71234;}
.go_pref_center-login form.prefCenterLogin .form-input {margin-right: 0; width: 80.32%;}
.go_pref_center-login form.prefCenterLogin .btn-default {margin: 0; position: absolute; top: 0; right: 0;}
.go_pref_center-login form.prefCenterLogin label {margin-bottom: 0; width: 19.68%; padding-right: 10px;}
.go_pref_center-login .col-1-md-offset.col-2-lg-offset {margin-left: 18%;}
.go_pref_center .go_store_locator .result__heading > p{font-size: 14px;}

/*store locator*/
.go_store_locator .headline-wisywig--small, .go_store_locator .region-select {font-size: 1.5rem;}
.go_store_locator .headline-wisywig--small {margin-bottom: 19px;}
.go_store_locator .btn-link {text-decoration: underline;}
.go_store_locator .btn-link::after {border: none; margin-left: 0;}
.go_store_locator .store-locator--find-btn {padding: 4px 10px 5px;}
.store-locator--copy__wrapper.result-items--grid, 
.store-locator--map__wrapper {margin-left: 0; margin-right: 0;}
.store-locator--copy__wrapper.result-items--grid {float: left; width: 41.8%;}
.store-locator--map__wrapper {float: right; width: 57.446%; margin-left: 0;}
.store-locator-form .input-group dd.col-4-lg {margin-right: 10px;}
.store-locator-form .input-group dt.col-8-lg-omega {float: left;}
.store-locator--copy__wrapper > li {border-bottom: #DDD0C6 solid 1px; margin: 0 5px 0 0; padding: 15px 0;}
.go_store_locator .collapse.in {margin-top: 11px;}
.go_store_locator .collapse.in, .go_store_locator .collapse.in p {font-size: 14px;}
.store-locator--copy__wrapper > li .result__button--toggle.collapsed {color: #6C3220; overflow: hidden;}
.store-locator--copy__wrapper > li .result__button--toggle.collapsed, .store-locator--copy__wrapper > li .result__button--toggle.collapsed p {font-size: 14px;}
.store-locator--copy__wrapper > li .result__copy .result__heading {margin-bottom: 0;}
.store-locator--copy__wrapper > li .result__copy .result__heading strong {font-family: "Whitney Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px;}
.store-locator--copy__wrapper > li .result__copy .result__heading em {font-family: "Whitney Medium Italic","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px;}

.go_store_locator .store-locator--copy__wrapper > li .result__copy p {font-size: 14px;}
.go_store_locator .store-locator--copy__wrapper > li .result__copy .store-info {margin-top: 10px;}

.clear-div {clear: both;}
.main-nav-dropdown-js .main-nav-dropdown-bottom .store-locator-div {margin: 0 -20px;}
.links-btn {position: relative; display: inline-block; text-decoration: none; font-family: "Whitney Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; line-height: normal; text-align: left;}
.main-nav-dropdown-js .main-nav-dropdown-bottom .links-btn {display: block;}
.store-locator-btn {background: #F0ECDC; padding: 10px 0 10px 34px;}
.store-locator-btn::before {content: ""; display: inline-block; width: 29px; height: 29px; margin: 0 10px 0 25.5061%; background-position: -26px -135px; vertical-align: middle;}
.logout-btn {color: #FFF; background: #A9A9A9; padding: 9px 40px 10px 11px; min-width: 112px;}
.logout-btn::after {content: ""; position: absolute; top: 6px; right: 11px; width: 24px; height: 24px; background-position: 0 -135px;}
.manage-pre-btn.btn-link {padding-top: 7px; padding-bottom: 7px; margin: 11px 0 13px;}
.manage-pre-btn.btn-link::after {margin-left: 6px;}

.go_pref_center .go_store_locator {padding: 0; max-width: none;}
.go_pref_center .store-locator--copy__wrapper.result-items--grid {width: 34.04%;}
.go_pref_center .store-locator--map__wrapper {width: 65.96%;}
.go_pref_center .store-locator--map__canvas {width: 100%;}
.go_pref_center div.store-locator--copy__wrapper {overflow-y: hidden;}
.see-my-store.btn-default {padding-top: 9px; padding-bottom: 10px; border-width: 2px; font-size: 18px;}
.see-my-store.btn-default::after {background-position: 0 -166px; height: 25px;}
.see-my-store.btn-default.active {color: #B71234; border-color: #DDD; background: #FFF;}
.see-my-store.btn-default.active::after {background-position: -25px -166px;}
.go_store_locator .store-locator--results .results__info {line-height: normal;}
.go_store_locator .store-locator--results .results__info strong {line-height: 22.4px; margin-bottom: 3px; display: block;}
.go_store_locator .store-locator--results .store-locator--copy__wrapper > li .result__small-img {display: none;}
.store-locator--copy__wrapper > li .result__button--toggle.collapsed .icon::after {height: 25px; background-position: 0 -195px;}
.store-locator--copy__wrapper > li .result__button--toggle.collapsed.active .icon::after {background-position: -25px -195px;}
.grid-construct .global-settings .col-1-md-offset.col-1-lg-offset > p {margin-bottom: -1px;}
.go_store_locator .result__heading > p{font-size: 14px;}
.go_store_locator .fb-like {margin-top: 16px}

/*welcome back home*/
.go_sign-up-for-emails .welcome-back {position: relative;}
.go_sign-up-for-emails .welcome-back .enter-pref-center {top: 0; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); margin-top: 20px;}
.go_sign-up-for-emails .welcome-back .welcome-back-header {text-align: left;} 
.go_sign-up-for-emails .welcome-back .enter-pref-center {text-align: right;}
.go_sign-up-for-emails .welcome-back .enter-pref-center .links-btn {margin-left: 19px;}
.go_sign-up-for-emails .welcome-back .welcome-back-header em {display: block; font-size: 14px; margin-top: -5px;}
.go_sign-up-for-emails .welcome-back .welcome-back-header a {color: #6C3220;}
.go_sign-up-for-emails .welcome-back .welcome-back-header span {font-size: 48px; line-height: normal;}

/*paper texture homepage*/
.outer-wrapper.outer-wrapper--how-we-do-it {overflow: visible;}
.outer-wrapper.outer-wrapper--how-we-do-it .go_how-we-do-it {position: relative; box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.35); mask-box-image: none; -webkit-mask-box-image: none; -o-mask-box-image: none;}
.go_how-we-do-it .bg--top, 
.go_how-we-do-it .bg--bottom {position: absolute; left: 0; right: 0; height: 10px; background: url("../img/bg-paper.png") 0 0 repeat-x;}
.go_how-we-do-it .bg--top {top: -5px;}
.go_how-we-do-it .bg--bottom {bottom: -10px; height: 15px; background-position: 0 100%;}
	
	
/*media queries*/
@media (min-width: 960px) {
	.login--text {display: block;}
	.main-nav--login, .main-nav__view-ad {float: left;} 
	.main-nav--login {width: 9.57%;}
	.main-nav__view-ad {width: 5.2%; margin-left: 6.5%;}
	.main-nav__view-ad--link {padding: 26px 4px 28px;}
	.main-nav--store-locator {float: right; width: 20.95%;}
	.main-nav--store-locator .cream-bg {width: 100%;}
	.go_pref_center hr {margin-left: 23px; margin-right: 24px;}
	.go_pref_center .go_pref_center__user-email .white-box {padding: 30px 6px 36px;}
	.go_pref_center .go_pref_center__user-email h2 {margin: 39px 0 15px;}
	.go_pref_center .go_pref_center__user-info .white-box {padding: 12px 15px 40px 2px;}
	.go_pref_center .go_pref_center__user-info h2 {margin-bottom: 29px;}
	.go_pref_center .go_pref_center__user-email .ad-opt-in {margin-top: -7px;}
	.go_pref_center .go_pref_center__user-email h3 {margin-bottom: 6px;}
	.go_pref_center .go_pref_center__user-email .wow-alerts-opt-in {margin-top: 0;}
	.go_pref_center .go_pref_center__user-email .wow-alerts-frequency .form-input.styled-select {width: 61%;}
	.go_pref_center .go_pref_center__user-email .save-change--btn {width: 25.559%;} 
	.go_sign-up-for-emails .welcome-back {padding-right: 320px;}
	.go_sign-up-for-emails .welcome-back .enter-pref-center {position: absolute; top: 18px; right: 0; margin: 0;}
	.go_store_locator .input-group {margin-bottom: 48px;}
	.go_store_locator .store-locator--results {margin-bottom: 43px;}
	.go_store_locator .store-locator--results .result__copy--buttons .btn-block {width: 272px;}	
	.go_pref_center__user-info #pref-info-edit-form .btn-default {width: 217px;}
	.go_pref_center-login form.prefCenterLogin {width: 81.06%; margin-left: 0; margin-right: 0;}
	.go_pref_center-login .col-1-md-offset.col-2-lg-offset {margin-left: 15%;}
	.go_sign-up-for-emails h2.msg--thankyou {font-size: 46.76px;}
}
@media (max-width: 959px) { 
	.store-locator--copy__wrapper.result-items--grid, .store-locator--map__wrapper, 
	.go_pref_center .store-locator--copy__wrapper.result-items--grid, 
	.go_pref_center .store-locator--map__wrapper {float: none; width: 100%; display: block;}
	.go_store_locator .go_pref_center--inner .go_pref_center--expand, .go_store_locator .go_pref_center--inner .additional-stores-error  {left: 0; top: 45px; width: 100%; z-index: 10;}
	.go_store_locator .go_pref_center--inner .additional-stores-error {z-index: 11;}
	.go_pref_center--expand .go_pref_center--header {margin-left: 0;}
	.go_sign-up-for-emails #close-sign-up-success-btn {width: 24px; text-indent: -99999em; padding-right: 0; right: -10px; background-position: -51px -225px;}
}
@media (min-width: 600px) and (max-width: 959px) {
	.main-nav-dropdown-js .main-nav-dropdown-bottom .col-3-sm-omega.col-4-md {float: right; width: 73.4177%; margin-right: 0;}
	.has-dropdown .dropdown-frag .col-4-md, .dropdown-frag .col-4-md-omega {float: none; width: 100%; margin-right: 0;}
	.has-dropdown .dropdown-frag .col-1-sm {float: left; width: 20.2532%; margin-right: 6.32911%;}
	.has-dropdown .dropdown-frag .col-3-sm-omega {float: right; width: 73.4177%; margin-right: 0;}
	.has-dropdown .main-nav--locator__list .location__operator__wrapper > div {margin-top: 10px;}
	.has-dropdown .dropdown-menu .left-padding {padding-left: 15px;}
	.has-dropdown .dropdown-frag .col-3-sm-omega {float: right; margin-right: 0; width: 73.4177%;}
}
@media (max-width: 599px) {
	.main-nav--login .cream-bg {padding-right: 10px;}
	.header--logo {margin-right: 0;}
	.main-nav--hamburger {margin-right: 3%;}
	.store-locator--map__wrapper, .store-locator--copy__wrapper.result-items--grid {float: none; width: 100%;}
	.store-locator--copy__wrapper > li {margin-left: 5px;}
	.go_pref_center .store-locator--copy__wrapper.result-items--grid, .go_pref_center .store-locator--map__wrapper {width: 100%;}
	/*.go_store_locator .go_pref_center--inner .go_pref_center--expand, 
	.go_store_locator .go_pref_center--inner .additional-stores-error {position: static; width: 100%;}
	.go_store_locator .go_pref_center--inner .additional-stores-error {position: relative;}*/
	.add-store-error {position: static; -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); margin-top: 20px;}
	.go_pref_center--expand .go_pref_center--header {margin: -1px -1px 0;}
	.go_sign-up-for-emails .welcome-back .enter-pref-center {text-align: left;}
	.go_sign-up-for-emails .welcome-back .enter-pref-center .links-btn {margin: 10px 0 0;}
	
	.go_pref_center-login form.prefCenterLogin {padding-right: 0;}
	.go_pref_center-login form.prefCenterLogin .error__wrapper.error-msg {margin-left: 0;}
	.go_pref_center-login form.prefCenterLogin .form-input {width: 100%;}
	.go_pref_center-login form.prefCenterLogin .btn-default {position: static; margin-bottom: 15px; float: left;}
	.go_pref_center-login form.prefCenterLogin label {margin-bottom: 5px; width: 100%;}
	.go_pref_center-login .col-1-md-offset.col-2-lg-offset {margin-left: 0;}
}