/*------------------------------------*\
    Buy a giftcard
\*------------------------------------*/
.go_buy-giftcard{ 
    @include container;
    background: $body-bg;
    padding: 33px 15px;
    @include bp($breakpoint-lg) {
        padding: 40px;
    }
}