
/*------------------------------------*\
    Footer Contact Us
\*------------------------------------*/
.go_footer-contact-us{
    @include container;
    padding: 33px 15px 0 15px;
    color: $brand-primary;
    position: relative;

    @include bp($breakpoint-md) {
      padding: 48px 15px 20px 15px;
    }

    @include bp($breakpoint-lg) {
        padding: 35px 40px 10px 40px;
    }

    .footer--social-btns{
      @include bp($breakpoint-md){
        margin: 0; 
      }
      @include bp($breakpoint-lg){
        margin: 0;
      }
    }
    
    .footer--social-btns__item{
      margin-bottom: 10px; 

      @include breakpoint($breakpoint-md){
        float: left;
        width: 140px;
        margin-right: 10px; 
      }


      .btn-footer-social{
        text-decoration: none;
        @extend %nav__header-heavy;
      }

    }

    .footer--contact-us-info__item{
      margin-bottom: 22px;
      @include pseudo_icons($corp-icons,white-btn-icon, 0px 10px 0px 0px, false, true);
    }

    .footer--img__puppets{
      position: relative;
      @include bp($breakpoint-sm){
        left: 50%;
        margin-left: -178px;
      }
      
      @include bp($breakpoint-md){
        position: absolute;
        bottom: 0;
        right: 26%;
        left: auto;
      }
      @include bp($breakpoint-lg){
        right:22%;
      }
    }

    .footer--copy{
        text-align: right;
        white-space: pre-line;
        position: relative;

        @include bp($breakpoint-md) {
          top:-26px;
        }

        p{
          margin-bottom: 15px;
          @include bp($breakpoint-md) {
            padding-left: 70px;
          }
          @include bp($breakpoint-lg) {
            padding: 0 10px 0 20px;
          }
        }

        .btn-link{
          &:after{
            margin: 0 0 -2px 3px;
          }
        }
    }
}