/*------------------------------------*\
    Footer Copyright Notice
\*------------------------------------*/
.go_footer-copyright{
    @include container;
    color: $brand-primary;
    padding: 33px 25px;
    text-align: center;
    p{
        margin-bottom: 0;
    }
}