/*------------------------------------*\
    Footer Two Up CTA
\*------------------------------------*/
.go_cta-two-up{
    @include container;
    .half-width-like-fb{
        @include container;
        color: #fff;
        padding: 33px 15px;
        
        @include bp($breakpoint-lg) {
            padding: 40px 20px 33px 40px;
            height: 99px;
        }

        .headline--small{
            margin-right: 10px;
            float: left;
            position: relative;
            top:12px;

            @include bp($breakpoint-md){
               float: right;
            }

            @include bp($breakpoint-lg){
               float: none;
               position: static;
            }
        }

        .fb--like{
            position: relative;
        }

        .fb-like{
            position:absolute;
            right:0;
            width: auto !important;
        
            float: right;
            top:12px;
            @include bp($breakpoint-md){
                position: relative;
                right:initial;
                float: left;
            }
            
            @include bp($breakpoint-lg){
                position: static;
            }
            
        }

        .fb-btn{
            position: absolute;
            right:0px; top:0;

            @include bp($breakpoint-md){
                position: static;
            }

            @include bp($breakpoint-lg){
               margin-top: -10px; 
            }
        }
    }
}