/*------------------------------------*\
    $General Footer Styles
\*------------------------------------*/

.main-footer{
  background-color: $body-bg;
}


/*------------------------------------*\
    $Footer Component Styles
\*------------------------------------*/

@import 'partials/design/footer_contact_us';
@import 'partials/design/footer_copyright';
@import 'partials/design/footer_nav';
@import 'partials/design/footer_buy_giftcard';
@import 'partials/design/footer_like_us_on_fb';


/*------------------------------------*\
    $Sticky Footer
\*------------------------------------*/

@if $sticky-footer-enabled {
    html, body {
      height: 100%;
    }
    .sticky-footer-wrap {
      min-height: 100%;
      /* equal to footer height */
      margin-bottom: -$footer-height; 
    }
    .sticky-footer-wrap:after {
      content: "";
      display: block;
    }
    .sticky-footer, .sticky-footer-wrap:after {
      /* .push must be the same height as footer */
      height: $footer-height; 
    }
}