
/*------------------------------------*\
    $NAV HERE
\*------------------------------------*/
.header-nav{ 
    background-color: #fff;
    position: relative;

    @include bp($breakpoint-md) {
        @include container;
    }
    
    @include bp($breakpoint-lg) {
        height: 111px;
    }

    .main-nav--link{
        position: relative;

        @include bp($breakpoint-lg){
            height: 65px;
        }
    }

    .main-nav--hamburger, .main-nav--shopping-list{
        height:95px;
        .main-nav--link{
          height:100%;
            &:hover
            {
              background-color:$body-bg;
            }
        }
    }

    .main-nav--store-locator{
        .main-nav--link{
            bottom: 4px;
            @include bp($breakpoint-lg){
                bottom: 0;
                &:hover
                {
                    background-color:$body-bg;
                }
            }
        }
    }

    //typography
    h4{
        @extend %nav__header-heavy;
    }
} //ends header nav.


.header--logo{
    padding: 23px 0;
    text-align: center;
    
    img{
        max-width: 167px;
        position: relative;
        top: 7px;
    }
    @include bp($breakpoint-md){
        @include isolate(3);

        img{
            top:-3px;
            left:-25px;
            max-width: 210px;
        }
    }

    @include bp($breakpoint-lg) {
        text-align: center;
        margin: 0 auto;
        img{top: 6px; left:0;}
    }
}//ends header-logo



.main-nav--hamburger{
    .cream-bg{
        width: 100%;
        text-align:left;
        padding:23px 43px 29px 26px;
        @include bp($breakpoint-md){padding: 23px 29px 26px 26px}
        @include bp($breakpoint-lg){padding:34px 40px 75px 40px; width: 174px;}
    }

    .icon{
        position: relative;
        top:6px;
        @include bp($breakpoint-sm)
        {
          left:-5px;
        }
        @include bp($breakpoint-md)
        {
          top:0;
        }
        @include bp($breakpoint-lg)
        {
          top:6px;
        }
    }
}//ends main-nav--hamburger

.hamburger__text{
    display: none;
    @include bp($breakpoint-md) {
        font-family: $san-serif-bold-family;
        display: inline;
        position: relative;
        position: absolute;
        top: 33px;
        left: 60px;
        &.close{display: none;}
    }

    @include bp($breakpoint-lg){
        top: 41px;
        left: 72px;
    }
}

.open
{
  .cross{
    @include sprite-retina(nav-cross);
  }
  button:hover .cross
  {
    @include sprite-retina(nav-cross--hover);
  }
}

.open .close{
    @include bp($breakpoint-md){
        display: inline;
    }
}

.open .ham{display: none;}

.main-nav--shopping-list{
    text-align: center;
    @include bp($breakpoint-md){
        /*margin-right: 15px;*/
        text-align: none;
    }

    @include bp($breakpoint-lg){
        text-align: right;
    }

    .cream-bg{
        padding:20px 36px 22px 23px;
        @include bp($breakpoint-md){padding:20px 50px 22px 50px;}
        @include bp($breakpoint-lg){padding:30px 76px 79px 43px;}
    }

    .push{@include bp($breakpoint-lg){margin-left: 31px;}}
}

.main-nav--shopping__list{
    left: 0;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 7px 10px -1px rgba(0,0,0,.35);
    -o-box-shadow: 0 7px 10px -1px rgba(0,0,0,.35);
    -moz-box-shadow: 0 7px 10px -1px rgba(0,0,0,.35);
    -webkit-box-shadow: 0 7px 10px -1px rgba(0,0,0,.35);
}
.shopping-list{
    position: relative;//the icon
    top:9px;
    @include bp($breakpoint-md){top: 0;}
}

.shopping-list__badge{  //the counter
    position: absolute;
    right: -9px;
    top: 16px;

    background-color: $brand-primary;
    color: #fff;
    display: block;
    height: 16px;
    width: 16px;
    text-align:center;
    text-indent:1px;

    font-size: 9px;
    line-height: 16px;
    @include border-radius(8px);
    button:hover &
    {
      background-color: lighten($brand-primary, 10%);
    }
}//ends shopping-list__badge

.shopping-list__copy{
    display: none;
    font-size:12px;

    @include bp($breakpoint-md){
        display: inline;
        position: absolute;
        bottom: -22px; left: -25px;
    }
}//ends shopping-list__copy

.main-nav__view-ad{}

.main-nav__view-ad--link{
    padding: 31px 4px 23px 4px;
    display: block;
    text-align: center;
    text-decoration: none;
    &:hover{
        background-color: $body-bg;
        text-decoration: none;
    }
}

.main-nav__view-ad--text{
    display: block;
}

.main-nav--store-locator{
    padding: 15px 8px;
    background-color: $brand-primary;
    

    @include bp($breakpoint-lg){
        background-color: transparent;
        padding: 0;

        &:after{display: none;}
    }

    .sm-btn{
        width: 100%;
        text-align:left;
        @include after_icons(white-btn-icon, $after_margin: 13px 1px 0 0);
        height: 58px;
    }

    .cream-bg{
        @include bp($breakpoint-lg){padding:30px 111px 79px 42px; float: right;}
    }
}

.store-locator{
    position: relative;
} //icon

.store-locator__copy{
    font-family: $san-serif-bold-family;
    position: absolute;
    top: 5px; left: 49px;
    width: 300px;
    color: #fff;
    text-align: left;
    @include bp($breakpoint-lg){
        left: 54px;top: 0;
        color: $brand-primary;
        width: 100%;
        white-space: normal;
        line-height: 1em;
        a:hover &
        {
          color: lighten($brand-primary, 10%);
        }
    } 
}//ends store-locator__copy
