/*------------------------------------*\
    Alerts and Notifications
\*------------------------------------*/


.main {
  padding: 1em;
}
.action {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid #000;
}
.notification {
  position: fixed;
  top: -20em;
  left: 0;
  width: 100%;
  padding: 1em;
  overflow: hidden;
  background: #f9edbe;
  border-bottom: 1px solid #fff;
  z-index: 9999;

  &.error{
    background-color: $brand-danger;
    color: white;
  }
  &.success{
    background-color: $brand-success;
    color: white;
  }
}



.notification.anim {
  -webkit-transition: top 0.6s ease-out;
  -moz-transition: top 0.6s ease-out;
  -ms-transition: top 0.6s ease-out;
  -o-transition: top 0.6s ease-out;
  transition: top 0.6s ease-out;
}
.notification.active {
  top: 0;
}
.notification .actions {
  margin-top: 0.5em;
}
.notification .btn {
  border: 1px solid #f0c36d;
  background: #f0c36d;
  color: #fff;
  display: inline-block;
  padding: 0.3em;
}

.notification .dismiss-btn {
  display: inline-block;
  margin-left: 1em;
  color: #fff;
}

@media all and (min-width: 50em) {
  .notification .msg {
    float: left;
    width: 70%;
  }
  .notification .actions {
    float: right;
    text-align: right;
    width: 30%;
    margin-top: -0.3em;
  }
}