.go_real-estate-presence{
  @include container;
  background: $body-bg;
  
  padding: 30px 15px;
  @include bp($breakpoint-lg) {
      padding: 30px 40px;
  }

  .contact-individual{
    margin-bottom: 30px;
  }

  .contact-cta{
    margin-top: 20px;
    text-align: left;
    width: 100%;
    @include bp($breakpoint-md){
      width:auto;
    }
  }
  
  .contact-location
  {
    font-family: $san-serif-bold-family;
  }
  
  .contact-name
  {
    font-family: $san-serif-family;
    @include font-size($font--alpha);
    padding-bottom:15px;
  }
}

.real-estate--map
{
  margin-top:2em;
  @include bp($breakpoint-md)
  {
    margin-top:0;
  }
}