/*------------------------------------*\
    Sign up for emails
\*------------------------------------*/


.go_sign-up-for-emails {
  @include container;
  padding: 25px 39px 25px 39px !important;
  background-color: $brand-info;
  position: relative;
  min-height: 124px;

  @include bp($breakpoint-lg) {
    padding: 30px 40px;
  }



  .container{
    display: inline;
    width: 100%;

    .sub-container{
      margin-bottom: 10px;
    }
  }

  h2 {
    color: $brand-primary;
    margin-bottom: 0;
  }

  p{
     font-size: $font--zeta;
     line-height: 1em;
      margin-bottom: 0px;
  }

  .v-align {
    vertical-align: middle;
  }

  .form-label{
    color: $brand-primary;
    padding: 3px 0px;
  }

  .form-input{
    font-size: $font--epsilon;
    padding: 6px 7px;
  }

  .form-submit{
    margin-top: 24px;
  }


  .welcome-back{
    @include container;

    .welcome-back-header{
      text-align: center;
      span{
        color: $brand-primary;
        font-size: $font--ultra;
        font-family: $serif-family;
        line-height: 1.2em;
        margin-bottom: 15px
      }
    }

    .enter-pref-center{
      @include bp($breakpoint-md) {
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
        top: -50%;
      }
      text-align: center;
    }

  }


  .welcome-back{
    h2{
      font-size: $font--kilo;
    }

  }


  .welcome-back{
    h2{
      font-size: $font--kilo;
    }

  }


  .welcome-back{
    h2{
      font-size: $font--kilo;
    }

  }

}

