.go_sign-up-for-email-alerts{
  @include container;
  background-color: $body-bg;

  padding: 30px 15px;
  @include bp($breakpoint-lg) {
      padding: 30px 40px;
  }

  .work__location-link{
    margin-left: 30px;
  }

  .go_store_locator{
    padding: 0;
  }
}