.go_work-in-a-store{
  @include container;
  background-color: $body-bg;
  padding: 30px 15px;
  @include bp($breakpoint-lg) {
      padding: 30px 40px;
  }

  .go_generic-content{
    padding: 0;
  }

  .work--form{
    margin-top:2em;
    .form-label{
      padding: 4px 0;
    }

    .work__location{
      margin-bottom: 24px;
    }

    .work__location-link{
      margin-left: 30px;
    }

    .resume-upload{
      display: none;
    }

    .checkbox__copy{
      line-height: 1.4rem;
      letter-spacing: 1px;
    }

    .custom-margin{
      margin-bottom: 10px;
    }
    
    .form-submit
    {
      float:right;
      margin-right:0;
    }
  }

  .disclaimer-copy{
    line-height: 120%;
  }
}

