
/*------------------------------------*\
    $Background styles
\*------------------------------------*/

// used for user defined styles in wordpress
.background-red{
    background-color: $brand-primary;
}
.background-green{
    // background-color: $brand-success;
    background-image: url("../../assets/img/backgrounds/store-operator-pattern.png");
    background-repeat: repeat;
}
.background-yellow{
    background-color: $brand-info;
}
.background-brown{
    background-color: $brand-warning;
}
.background-brown{
    background-color: $brand-warning;
}
.background-gray{
    background-color: #bfb9aa;
}