
/*------------------------------------*\
    $Button styles
\*------------------------------------*/
%btn {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    max-width: 100%;
    position: relative;
    font-weight: 700;
    font-family: $san-serif-bold-family;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    @include button-size($padding-cta-vertical, $padding-cta-horizontal, $font--epsilon, inherit, $border-radius-base);
    @include user-select(none);

    &,
    &:active,
    &.active {
        &:focus {
            @include tab-focus();
        }
    }

    &:hover,
    &:focus {
        color: $btn-default-color;
    }

    &:active,
    &.active {
        outline: 0;
        background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
        pointer-events: none; // Future-proof disabling of clicks
        @include opacity(.65);
    }
}

a:hover{&[class*='btn-']{text-decoration: none;}}


//full width button.
.btn-block{
    display: block;
    width: 100%;
    text-align:left;
}

//red color button.
.btn-default {
    @extend %btn;
    @include button-variant(#fff, $brand-primary, $brand-primary);
    @include after_icons(white-btn-icon,0 0 0 10px);
    min-width: 140px;
}


//green bg btn.
.btn-green{
    @extend %btn;
    @include button-variant($brand-success, #fff, #fff);
    @include after_icons(green-btn-icon, 0);
    min-width: 140px;
}

//red bg btn.
.btn-red{
    @extend %btn;
    @include button-variant($brand-primary, #fff, #fff);
    @include after_icons(red-btn-icon, 0);
    min-width: 140px;
}

//white color button.
.btn-white {
    @extend %btn;
    @include button-variant($brand-primary, #fff, #fff);
    @include after_icons(red-btn-icon,0);
    min-width: 140px;
}

//gray color button.
.btn-gray{
    @extend %btn;
    @include button-variant(#fff, $gray, $gray);
    @include after_icons(cross-btn-icon,0);
}

//add btn with plus.
.btn-plus {
    @extend %btn;
    @include button-variant(#fff, $brand-primary, $brand-primary);
    @include after_icons(plus-btn-icon,0);
    min-width: 140px;
}

//buttons for the nav.
.btn-nav {
    @extend %btn;
    @include button-variant($brand-primary, transparent, transparent);
}

.btn-no-style {
    border: 0;
    background-color: transparent;
}

//bg-less btn w/ arrow.
.btn-link {
    @extend %btn;
    @include button-variant($brand-primary, transparent, transparent);
    padding-left: 0; //text needs to have no padding on the left.
    &:after{
        margin-left: 10px;
        @include caret($brand-primary, 6px, right);
    }
}

//buttons for the footer.
.btn-footer-social {
    // @extend %btn;
    // @include button-variant(#fff, $brand-primary, $brand-primary);
    // padding: 5px 6px;
    // text-align: left;

    @include pseudo_icons($social-media,false, 1px 10px 0px 0px, false, true, 0); //sprite icons for the button.
    // width: 100%;
  
}

//buttons for the fixed nav.
.btn-fixed-nav {
    @extend %btn;
    @include button-variant($brand-primary, #fff, #cecece);

    @include pseudo_icons($fixed-nav-icons,false, 2px 10px 0px 0px, false, true); //sprite icons for the button.
    text-align: left;
    width: 160px;
}