.has-dropdown{
    .dropdown-menu{
        display: none;
        padding: 30px 20px;
        position: absolute;
        z-index: $zindex-dropdown;
        color: $brand-primary;
        background-color: $gray-lighter;
        

        top: 95px;
        @include bp($breakpoint-lg){
            top: 111px;
        }
        

        .left-padding{padding-left: 15px;}
    } //ends dropdown

    &.main-nav--store-locator .dropdown-menu
    {
      display:block;
      right:9999px;
    }

    .main-nav--hamburger__list{
    
      box-shadow: 0 7px 10px -1px rgba(0,0,0,.35);
      -o-box-shadow: 0 7px 10px -1px rgba(0,0,0,.35);
      -moz-box-shadow: 0 7px 10px -1px rgba(0,0,0,.35);
      -webkit-box-shadow: 0 7px 10px -1px rgba(0,0,0,.35);

        .nav-story__item{ //style for each item.
            float: left;
            width: 100%;
        }

        .headline__item{ //style for each item.
            float: left;
            width: 100%;
            margin:0px 0 15px 0;
            @include bp($breakpoint-lg){
                width: auto;
                margin: 0;
            }
        }

        .subhead{
            width: 100%; 
            @include bp($breakpoint-lg){margin-top: 45px;}
        }
        .headlines{
            @include bp($breakpoint-lg)
            {
              margin: 30px 0 0px 0;
              a
              {
                margin:0 1.5em;
                float:left;
                display:block;
                &:first-child
                {
                  margin-left:0;
                }
              }
            }
        }

        .row{
            li{
                padding:12px 0;
                @include bp($breakpoint-lg){
                    padding: 7px 0 0 0;
                }
                &.subhead{padding-bottom: 5px;}
            }
        }

        /* has- classes */
        .has-border{
            border-top:1px solid #f0d7d5;
            @include bp($breakpoint-lg){
                border-top: none;
                padding: 0;
            }
        }

        .has-icon{
            @include pseudo_icons($menu-categories,false, -8px 11px 0px 0, false, true, 0);
            @include after_icons(red-pointer, 7px 0 0 0);

            &.has-pointer{
                &:after{margin-top: 9px;}
            }
            
            @include bp($breakpoint-lg){
                &:after{display: none;}     
            } 
        }
        /* ends has- classes */
    }//ends main-nav--hamburger__list

    .shopping-list-dropdown-item{ 
        margin-bottom: 15px;
        position: relative;
        height: 350px;

        @include isolate-grid(4,4);
        @include bp($breakpoint-md){
            @include isolate-grid(4,8);
            height: 23%;
            margin-bottom: 53px;
        }
        @include bp($breakpoint-lg){@include isolate-grid(3,12); height: 285px; margin-bottom: 2em;}

        .shopping-list-item-name,
        .shopping-list-item-description,
        .shopping-list-item-price{
            display: block;
            margin-bottom: 5px;
            color: $text-color;
            line-height:1em;
        }
        
        .shopping-list-item-name
        {
          font-size:$font--delta;
        }
        
        .shopping-list-item-description
        {
          font-size:$font--epsilon;
          font-family:$san-serif-italic-family;
        }
        
        .shopping-list-item-price
        {
          font-size:$font--mega;
          font-family:$san-serif-bold-family;
        }

        .shopping-list-item-remove{
          margin:.5em 0;
        }
    }


    .main-nav--locator__list{
        right: 0;
        top:100%;
        color: $text-color;
        z-index: 100;
        box-shadow: 0 7px 10px -1px rgba(0,0,0,.35);
        -o-box-shadow: 0 7px 10px -1px rgba(0,0,0,.35);
        -moz-box-shadow: 0 7px 10px -1px rgba(0,0,0,.35);
        -webkit-box-shadow: 0 7px 10px -1px rgba(0,0,0,.35);
        
        @include bp($breakpoint-lg){top: 111px;}

        .location__img img          {width: 100%;}
        .location__current-location {margin-bottom: 18px;}
        .location__fb-like          {margin: 15px 0;}
        .location__hours            {margin-bottom: 23px;}
        .location__contact-info     {margin-bottom: 25px;}
        p                           {margin-bottom: 0px;}

        .location__cta{
            .btn-default, .btn-gray{margin-bottom: 7px;}
            .btn-block{
                &:after{margin:0 -7px 0 0px;}
                @include bp($breakpoint-lg){
                    &:after{margin: 0;}     
                } 
            }
        }

        .location__operator__wrapper{
            margin-top: 10px;
        }
    }//ends main-nav--locator__list

    &.open{

        .dropdown-menu{
            display: block;
            text-align: left;
        }
        
        &.main-nav--store-locator .dropdown-menu
        {
          right:0;
        }

        &.is-open>.cream-bg{background-color: $gray-lighter;}   

        &.main-nav--store-locator>.cream-bg{ //hiding bg color in dm&md, but dshowing in lg.
            background-color: transparent;
            @include bp($breakpoint-lg){background-color: $gray-lighter;}
        }
    }//ends open
}