@import "compass/css3";
/*------------------------------------*\
    $Default Styles
\*------------------------------------*/

/**
 * These are intended to provide a default
   level of styling that can be over-written
   by @extending the silent (%) selectors below
 */

h1{
  @extend %headline--large;
}

h2{
  @extend %headline--medium;
}

h3{
  @extend %headline--small;
}
p, span, li, dd, figcaption{
  @extend %copy--body;
}
p{
  margin-bottom: 35px;
}
b, strong{
  // font-weight: 700;
  font-family: $san-serif-bold-family;
}

a{
  color: $brand-primary;
}

/*------------------------------------*\
    $Headlines
\*------------------------------------*/

%headline--large, .headline--large{
  font-family: $serif-family;
  margin-bottom: 18px;
  @include font-size($font--kilo);

  @include bp($breakpoint-md) {
    @include font-size($font--giga);
  }
}

%headline--medium, .headline--medium{
  font-family: $serif-family;
  margin-bottom: 45px;
  @include font-size($font--kilo);

  @include bp($breakpoint-md) {
    @include font-size($font--kilo); //to check.
  }
}

%headline--small, .headline--small{
  font-family: $serif-family;
  margin-bottom: 22px;
  @include font-size($font--gamma);

  @include bp($breakpoint-md) {
    @include font-size($font--alpha);
  }
}

%headline--small--bold, .headline--small--bold{
  @extend %headline--small;
  display: block;
  font-weight: bold;
  margin-bottom: 22px;
}

//Wisywig headlines 

%headline-wisywig--large, .headline-wisywig--large{
  font-family: $san-serif-family;
  @include font-size($font--kilo);

  @include bp($breakpoint-md) {
    @include font-size($font--giga);
  }
}

%headline-wisywig--medium, .headline-wisywig--medium{
  font-family: $san-serif-family;
  @include font-size($font--kilo);

  @include bp($breakpoint-md) {
    @include font-size($font--kilo); //to check.
  }
}

%headline-wisywig--small, .headline-wisywig--small{
  font-family: $san-serif-family;
  @include font-size($font--gamma);

  @include bp($breakpoint-md) {
    @include font-size($font--alpha);
  }
}

%headline-wisywig--small--bold, .headline-wisywig--small--bold{
  font-family: $san-serif-bold-family;
  @include font-size($font--gamma);

  @include bp($breakpoint-md) {
    @include font-size($font--alpha);
  }
  display: block;
  font-weight: bold;
}

/*------------------------------------*\
    $Subheads / $Sub-headlines
\*------------------------------------*/

// %subhead--large, .subhead--large{
//   font-family: 'interval-light';
//   @include font-size($font--alpha);

//   @include bp($breakpoint-md) {
//     @include font-size($font--kilo);
//   }
// }

// %subhead--medium, .subhead--medium{
//   font-family: 'interval-light';
//   @include font-size($font--alpha);
// }

// %subhead--small, .subhead--small{
//   font-family: 'interval-regular';
//   @include font-size($font--gamma);

//   @include bp($breakpoint-lg) {
//     // @include font-size($font--beta);
//   }
// }


/*------------------------------------*\
    $Copy / $Paragraph
\*------------------------------------*/

%copy--body, .copy--body{
  font-family: $san-serif-family;
  @include font-size($font--delta);

  @include bp($breakpoint-md) {
    @include font-size($font--delta);
  }
}

%copy--body-heavy, .copy--body-heavy{
  font-family: $san-serif-bold-family;
  margin-bottom: 35px;
  @include font-size($font--delta);
  font-weight: bold;
}


/*------------------------------------*\
    $CTA's
\*------------------------------------*/

%cta__button-copy, .cta__button-copy{
  font-family: $san-serif-bold-family;
  font-weight: bold;
  @include font-size($font--delta);
}

%cta__link-copy, .cta__link-copy{
  font-family: $san-serif-bold-family;
  font-weight: bold;
  @include font-size($font--epsilon);
}

/*------------------------------------*\
    $Nav
\*------------------------------------*/

%nav__header-heavy, .nav__header-heavy{
  font-family: $san-serif-bold-family;
  font-weight: bold;
  @include font-size($font--epsilon);
  line-height:1.1em;
}

%nav__footer-heavy, .nav__footer-heavy{
  font-family: $san-serif-bold-family;
  font-weight: bold;
  @include font-size($font--epsilon);
}

%nav__footer-medium, .nav__footer-medium{
  font-family: $san-serif-bold-family;
  font-weight: normal;
  @include font-size($font--epsilon);
}

%nav__footer-light, .nav__footer-light{
  font-family: $san-serif-family;
  font-weight: lighter;
  @include font-size($font--zeta);
}