/**
 *
 * Icons & Icon-based images
 *
 */

[class^="icon__"]:before, 
[class^="icon__"]:after, 
[class*=" icon__"]:before, 
[class*=" icon__"]:after{
  @include background-size(cover);
  content: "";
}

.icon{
  @extend %inline-block;
}

.icon.hamburger {
  @include sprite-retina(hamburger);
  button:hover &
  {
    @include sprite-retina(hamburger--hover);
  }
}

.icon.shopping-list {
  @include sprite-retina(shopping-list);
  button:hover &
  {
    @include sprite-retina(shopping-list--hover);
  }
}

.icon.store-locator {
  @include sprite-retina(store-locator_white);
  
  @include bp($breakpoint-lg){
      @include sprite-retina(store-locator_red);
      button:hover &,
      a:hover &
      {
        @include sprite-retina(store-locator_red--hover);
      }
  }
}

.icon.red-btn-arrow {
  @include sprite-retina(red-btn-icon);
}

.icon.white-btn-arrow {
  @include sprite-retina(white-btn-icon);
}

.icon.go-view-ad {
  @include sprite-retina(go-view-ad);
}

.icon.go_homepage_arrow_next {
  @include sprite-retina(go_homepage_arrow);
}

.icon.go_homepage_arrow_prev {
  @include sprite-retina(go_homepage_arrow);
  @include transform(rotate(180deg));
}

.icon.opt-in-mail {
   @include sprite-retina(opt-in-mail );
}

.icon.opt-in-exclamation {
  @include sprite-retina(opt-in-exclamation);
}
.icon.wow-alerts__badge{
  @include sprite-retina(wow-alerts__badge);
}
.icon.nav-location{
  @include sprite-retina(nav-location);
}
.icon.footer-tel{
  @include sprite-retina(footer-tel);
}
.icon.wow-alert-map-pin{
  @include sprite-retina(wow-alert-map-pin);
}